html, body {
    height: 100%; /* 화면 전체 높이를 잡기 위해 필수 */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Electron에서 불필요한 스크롤 방지 */
    background-color: transparent;
}

#root {
    height: 100%; /* React 앱이 마운트되는 div도 높이를 상속받아야 함 */
    width: 100%;
    background-color: transparent;
}